.pagination {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: center;

  width: 100%;
}

.pageNumber,
.arrow {
  cursor: pointer;
  background-color: white;
  border: none;
}

.pageNumber:disabled,
.arrow:disabled {
  cursor: default;
  opacity: 0.5;
}

.pageNumber {
  padding: 8px;
}

.list {
  display: flex;
  align-items: center;
  justify-content: center;
}
